{% extends 'layout.html' %}

{% block body %}
<div class="content-section">
    <br>
    <h4>About</h4>
    <ul>
        <div class="text-justify">
            <li>Problem Statement</li>
            <li>The dataset was taken from <a href="https://www.google.com">URL</a></li>
            <li>Data dictionary:
                <ul>
                    <li>Age</li>
                    <li>Sex</li>
                </ul>
            </li>
            <li>Sample Data: <br><img src="static/sample_data.png" alt="Sample Data"> </li>
            <li>How the model was trained.</li>
            <li>How the model was evaluated.</li>
        </div>
    </ul>
</div>
{% endblock body %}